@model UserInterface.Models.LoginViewModel
@using UserInterface.App_Start
 
@{
    Layout = null;
}

@Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css")
@Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/UserCSS/Login")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
