@model UserInterface.Models.OutstandingSummaryViewModel
<div class="col-md-12">
    <div class="col-md-12 ">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Outstanding Invoices (@Model.invCount) </span>
                <span class="info-box-number">@Model.OutstandingInvFormatted</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 95%"></div>
                </div>
                <span class="progress-description">
                    (Last 365 Days)
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Outstanding Payments(@Model.payCount)</span>
                <span class="info-box-number">@Model.OuttandingPayFormatted</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 95%"></div>
                </div>
                <span class="progress-description">
                    (Last 365 Days)
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>

    </div>

</div>

